doctype html
html

	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="css/boilerplate.css")
		link(rel="stylesheet", href="css/normalize.css")
		block title
			title Example page
		script(src="js/modernizr-2.8.3.min.js", type="text/javascript")
		script(src="js/main.min.js", type="text/javascript")

	body

		div.header-container
			header.wrapper.clearfix
				block header-title
					h1.title Example title
				nav
					ul
						block navigation

		div.main-container
			div.main.wrapper.clearfix
				article
					block article
				aside
					block aside
					
		div.footer-container
			footer.wrapper
				block footer
					h3 Example
